

#container{
    display: grid;
    grid-gap: .05em;
    grid-template-rows: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols),1fr);
}

.grid{
    padding: 8px;
    border: 1px solid black;
}

.hovered{
    background-color: red;
        
}